:root {
   --primary-color: #3EDF63;
   --bg-color: #E4FFE8;

   --text-color: #002502;
   --input-color: #FAFAFA;
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Lexend', sans-serif;
}

body {
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  height: 100vh;
}

header {
  background: var(--primary-color);
  padding: 15px 0;
}

header>div {
  display: flex;
  flex-direction: row;
  
  align-items: center;
}

header h1 {
  display: inline-block;
  width: 100%;
  margin: 0;

  color: var(--text-color);
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav a {
  margin: 0 5px;
  color: var(--text-color);
  /* padding: 7px; */
}

.wrapper {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
}

main {
  background: var(--bg-color);
  padding: 15px 0;

  overflow: scroll;
}

main>div[class=wrapper] {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 7px;

  align-items: center;

  overflow: scroll;
}

main>div[class=wrapper]>label {
  width: 100%;
  margin-right: 10px;
}

main>div[class=wrapper]>input {
  padding: 7px;

  border-radius: 5px;
  border-color: var(--text-color);
  border-style: solid;
  border-width: .1px;
  border: none;

  background: var(--input-color);

  font-size: 1em;
}

main>div[class=wrapper]>p {
  margin: 0;
  padding: 0;

  margin-left: 10px;
}

footer {
  background: var(--primary-color);
  padding: 15px 0;

  color: var(--text-color);
}

::-webkit-scrollbar {
  display: none;
}